.App {
  text-align: center;
  background: url('../src/img/AdobeStock_233755194.jpeg');
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.App-header {
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  padding-left: 1rem;
  box-shadow: 3px 3px 3px 3px #808080;
  color: #ffffff;
  background-color: #282c34;
}

.quote {
  font-size: 30px;
  margin: 40px;
}

.signup {
  font-size: 25px;
  margin: 70px;
}

.footer {
  color: black;
    font-size: 20px;
    width: 100%;
    text-align: center;
    border-top: 1px groove black;
    position: absolute;
    bottom: 0;
}

