/* * {
  box-sizing: border-box;
  margin: 0;
} */

.App-home {
  text-align: center;
  background: url('../src/img/AdobeStock_233755194.jpeg');
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.App-header {
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  padding-left: 1rem;
  box-shadow: 3px 3px 3px 3px #808080;
  color: #ffffff;
  background-color: #282c34;
}

.quote {
  font-size: 30px;
  margin: 40px;
}

.name {
  font-size: 25px;
  font-weight: bold;
}

.signup {
  font-size: 25px;
  margin: 70px;
}

header > p img {
  height: 2.5rem;
  border-radius: 50%;
}

.form-container {
  text-align: center;
  font-size: 30px;
  background: url(./img/AdobeStock_322579336.jpeg) ;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.form {
  font-size: 30px;
  min-height: 80vh;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* min-height: fit-content;
  min-width: fit-content; */
}

input, textarea {
  width: 75%;
  padding-bottom: 30px;
  background: transparent;
  border: none;
  border-bottom: 2px solid #000000;
 
}


.library-container {
  text-align: center;
  background: url('./img/AdobeStock_342147612.jpeg');
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: grid;
  /* display: flex;
  flex-direction: column;
  align-items: center; */

}

fieldset {
  max-width: 30%;
}

.fieldset {
  font-size: 20px;
  border: 2px solid black;
  border-radius: 5px;
  padding: 20px;
  margin: 20px 0;
  max-width: fit-content;
  max-height: fit-content;
  display: block;
  background-color: white;

}

header > div:hover {
  cursor: pointer;
}

.view-container {
  text-align: center;
  background: url('./img/AdobeStock_342147612.jpeg');
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #008CBA;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

button:hover {background-color: #008CBA;}

button:active {
  background-color: #008CBA;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.footer {
  color: black;
    font-size: 20px;
    width: 100%;
    text-align: center;
    border-top: 1px groove black;
    position: fixed;
    bottom: 0;

}



