* {
  box-sizing: border-box;
  margin: 0;
}

.App {
  text-align: center;
  background: url('../src/img/AdobeStock_233755194.jpeg');
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.App-header {
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  padding-left: 1rem;
  box-shadow: 3px 3px 3px 3px #808080;
  color: #ffffff;
  background-color: #282c34;
}

.quote {
  font-size: 30px;
  margin: 40px;
}

.name {
  font-size: 25px;
  font-weight: bold;
}

.signup {
  font-size: 25px;
  margin: 70px;
}

.form-container {
  font-size: 30px;
  min-height: fit-content;
  min-width: fit-content;
  background: url(./img/AdobeStock_322579336.jpeg) ;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .form {
  font-size: 30px;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
} */

input, textarea {
  width: 75%;
  padding: 20px;
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
 
}

/* span {
  padding: 30px;
} */
/* textarea {
  width: 500px;
  height: 100px;
  max-width: 500px;
  max-height: 100px;
} */

.lable {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

.library-container {
  background: url('./img/AdobeStock_342147612.jpeg');
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;

}

.footer {
  color: black;
    font-size: 20px;
    width: 100%;
    text-align: center;
    border-top: 1px groove black;
    /* position: absolute; */
    position: fixed;
    bottom: 0;

}



